/* https://gwfh.mranftl.com/fonts */
/* open-sans-300 - latin */
@font-face {
  font-family: 'roslindale';
  src: url('@fonts/Roslindale.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'roslindalelight';
  src: url('@fonts/Roslindale-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'satoshi';
  src: url('@fonts/Satoshi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'satoshilight';
  src: url('@fonts/Satoshi-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}